<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="input-group mb-3" *ngIf="currentParam">
      <input [(ngModel)]="currentParam.searchText" type="text" class="form-control" [attr.aria-label]="'search-text' | translate" [attr.placeholder]="'search-text' | translate" (keyup.enter)="goSearch()" (keyup)="checkSearchText()">
      <div class="input-group-append">
        <button [disabled]="isSearching || !currentParam.searchText || invalidSearchText" [innerHTML]="searchLabelStr" (click)="goSearch()" class="btn btn-outline-secondary" type="submit"></button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="sr-only">Toggle Search Type</span>
         </button>
        <div class="dropdown-menu">
          <button *ngFor="let rType of availableRecordTypes" class="dropdown-item" (click)="setRecordType(rType)" [innerHTML]="getSearchRecordTypeLabel(rType)"></button>
        </div>
      </div>
    </div>
    <div *ngIf="searchError" class="alert alert-danger" role="alert">
      {{ 'search-error' | translate}}
    </div>
    <div *ngIf="invalidSearchText" class="alert alert-danger" role="alert">
      {{ 'invalid-search-text' | translate}}
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div *ngIf="isSearching" class="mx-auto" style="width: 200px;">
  <img src="assets/loading.svg" alt="Searching...">
</div>

<ng-container *ngIf="searchResults && !isSearching">
  <!-- Breadcrumbs -->
  <!-- <div class="row" *ngIf="searchResults.numFound > 0 ">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li *ngFor="let crumb of getBreadcrumb()" [class]="crumb.class">
            <ng-container *ngIf="crumb.active else inactiveBlock">
              {{ crumb.name }}
            </ng-container>
            <ng-container #inactiveBlock>
              <a [href]="crumb.href"> {{ crumb.name }}</a>
            </ng-container>
          </a>
        </ol>
      </nav>
    </div>
  </div>
   -->
  <!-- Browse / Facets / Refiners -->
  <div class="row" id="browse-accordion" *ngIf="!hideFiltersWhenSearching && canFilterOrBrowse()">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header browse-panel">
          <span class="float-left">
            <a data-toggle="collapse" href="#browse-collapse" aria-expanded="true" aria-controls="browse-collapse" (click)="toggleFacetShow()">
              {{ showFacets ? '-' : '+' }}
              <ng-container *ngIf="canShowResultSection() else browseFacetBlock">
                {{ 'facet-label' | translate }}
              </ng-container>
              <ng-template #browseFacetBlock>
                {{ 'browse-label' | translate }}
              </ng-template>
            </a>
          </span>
          <span *ngIf="this.currentParam.hasAppliedRefiner" class="float-right"> <a href="#" (click)="clearAppliedRefiners($event)">{{ 'clear-all-label' | translate }}</a> </span>
        </div>
        <div id="browse-collapse" class="card-body collapse" aria-labelledby="browse-heading" data-parent="#browse-accordion">
          <!-- Ungrouped -->
          <div id="ungrouped-filter" class="row container-fluid" *ngIf="!isGrouped(currentParam.getRefinerConfigs()) else groupedBlock">
            <ng-container *ngFor="let refinerConfig of currentParam.getRefinerConfigs(); index as i; first as isFirst;">
              <div class="col" *ngIf="shouldShowRefiner(refinerConfig)">
                <search-refiner [classes]="'h-100'" [isSearching]="isSearching" [refinerConfig]="refinerConfig" (onApplyFilter)="applyRefiner($event)" ></search-refiner>
              </div>
              <ng-container *ngIf="shouldBreak(index+1, 4)">
                <div class="w-100"></div>
              </ng-container>
            </ng-container>
          </div>
          <!-- Grouped -->
          <ng-template #groupedBlock>
            <div class="container-fluid" id="grouped-filter">
              <ng-container *ngFor="let refinerConfig of currentParam.getRefinerConfigs(); index as i; first as isFirst">
                  <search-refiner (onSetRecordType)="setRecordType($event, true)" [classes]="'h-100'" [maxCols]="4" [isSearching]="isSearching" [refinerConfig]="refinerConfig" (onApplyFilter)="applyRefiner($event)" [sortGroupHeadersBy]="currentParam.sortGroupHeadersBy" [translationService]="translationService" ></search-refiner>
              </ng-container>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Search result -->
  <div class="row" *ngIf="canShowResultSection()">
    <ng-container *ngIf="searchResults.numFound > 0 else emptyResultsBlock">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header {{ searchCardClass }}" [innerHTML]="cardHeader | translate: { numFound: this.searchResults.numFound }"></div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let searchRes of getSearchResultForDisplay()">
                <ng-container *ngFor="let dispLine of searchRes.displayLines" >
                  <div [ngClass]="dispLine.class" *ngIf="!dispLine.link" [innerHTML]="dispLine.template"></div>
                  <div [ngClass]="dispLine.class" *ngIf="dispLine.link">
                    <a *ngIf="dispLine.type == 'internal'" [routerLink]=[searchRes[dispLine.field]] [innerHTML]="dispLine.template"></a>
                    <a *ngIf="dispLine.type == 'external'" [href]="searchRes.res[dispLine.field]" [innerHTML]="dispLine.template"></a>
                  </div>
                </ng-container>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #emptyResultsBlock>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header {{ searchCardClass }}" [innerHTML]="'search-results' | translate: { numFound: this.searchResults.numFound }"></div>
        </div>
      </div>
    </ng-template>
  </div>
  <!-- Pagination -->
  <div class="container-fluid" *ngIf="canShowResultSection()">
    <br/>
    <p class="mx-auto" style="width: 400px;">
      <pagination
                [maxSize]="currentParam.paginationSize" [directionLinks]="true"
                [boundaryLinks]="true" [totalItems]="searchResults.numFound" [itemsPerPage]="currentParam.rows"
                [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="pagination-sm">
      </pagination>
    </p>
  </div>
</ng-container>
