<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="input-group mb-3">
      <input [(ngModel)]="currentParam.searchText" type="text" class="form-control" [attr.aria-label]="'search-text' | translate" [attr.placeholder]="'search-text' | translate" (keyup.enter)="goSearch()">
      <div class="input-group-append">
        <button [disabled]="isSearching || !currentParam.searchText" [innerHTML]="searchMode | translate" (click)="goSearch()" class="btn btn-outline-secondary" type="submit"></button>
        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="sr-only">Toggle Search Type</span>
         </button>
        <div class="dropdown-menu">
          <button *ngFor="let mode of config.searchModes" class="dropdown-item" (click)="setSearchMode(mode)" [innerHTML]="mode | translate"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


<div *ngIf="isSearching" class="mx-auto" style="width: 200px;">
  <img src="assets/loading.svg" alt="Searching...">
</div>


<div class="row" *ngIf="searchResults">
  <ng-container *ngIf="searchResults.numFound > 0 else emptyResultsBlock">
    <div class="col-md-2">
      <search-refiner *ngFor="let refinerConfig of currentParam.getRefinerConfigs()" [isSearching]="isSearching" [refinerConfig]="refinerConfig" (onApplyFilter)="applyRefiner($event)" ></search-refiner>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header {{ searchCardClass }}" [innerHTML]="'search-results' | translate: { numFound: this.searchResults.numFound }"></div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let searchRes of getSearchResultForDisplay()">
              <ng-container *ngFor="let dispLine of searchRes.displayLines" >
                <div [ngClass]="dispLine.class" *ngIf="!dispLine.link" [innerHTML]="dispLine.template"></div>
                <div [ngClass]="dispLine.class" *ngIf="dispLine.link">
                  <a *ngIf="dispLine.type == 'internal'" [routerLink]=[searchRes[dispLine.field]] [innerHTML]="dispLine.template"></a>
                  <a *ngIf="dispLine.type == 'external'" [href]="searchRes.res[dispLine.field]" [innerHTML]="dispLine.template"></a>
                </div>
              </ng-container>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyResultsBlock>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header {{ searchCardClass }}" [innerHTML]="'search-results' | translate: { numFound: this.searchResults.numFound }"></div>
      </div>
    </div>
  </ng-template>
</div>
