<div *ngIf="!isLoaded()" class="mx-auto" style="width: 200px;">
  <img src="assets/loading.svg" alt="Loading..."/>
</div>
<ng-container *ngIf="isLoaded()">
  <!-- Header section -->
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-md-12">
        <p></p>
        <p class="header-main">
          <img src="assets/mint.svg" style="width:100px;" alt="Peppermint logo"/>
          <a href="/peppermint/">{{ 'title' | translate }}</a>
        </p>
      </h1>
    </div>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-light nav-main">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="search">{{ 'search-menu-label' | translate }} <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <p></p>
  </div>
  <!-- Main router outlet / body -->
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer section -->
</ng-container>
