/* You can add global styles to this file, and also import other style files */

// Bootstrap variables control the theming
// uncomment and customise as needed
//
// For documentation, see: https://getbootstrap.com/docs/4.0/getting-started/theming/#introduction
//
// e.g.
// $theme-colors: (
//   // panel headers use success
//   "success": black;
// );


// set default font color
$body-color: black;
$main-color: white;
$navbar-light-color:          rgba($main-color, .5) !default;
$navbar-light-hover-color:    rgba($main-color, .7) !default;
$navbar-light-active-color:   rgba($main-color, .9) !default;

.header-main {
  a {
    color: #28713f;
    &:hover {
      color: #28713f;
      text-decoration: none;
    }
  }
}

.nav-main {
  background-color: #28713f !important;
  color: white;
}

.search-panel {
  color: white;
}

@import "../node_modules/bootstrap/scss/bootstrap";
